package {{.Config.Package}};

import (
  {{range .Imports}}
    {{.}}
  {{end}}
)

// {{.TypeName}}Resolver {{.TypeDescription}}
type {{.TypeName}}Resolver struct {
  {{range .Fields}}{{.}}{{end}}
}

{{range .Methods}}{{.}}
{{end}}
