package {{.Config.Package}};

import (
  graphql "github.com/neelance/graphql-go"
)

// {{.TypeName}}Resolver {{.TypeDescription}}
type {{.TypeName}}Resolver struct {
  {{range .Fields}}{{.}}{{end}}
}

{{range .Methods}}{{.}}
{{end}}
